@import "tailwindcss";
@plugin "daisyui";

@layer base {
  @font-face {
      font-family: 'Resist Sans Bold';
      src: url('../public/fonts/ResistSansDisplay-Bold.otf');
  }
  @font-face {
      font-family: 'Resist Sans Regular';
      src: url('../public/fonts/ResistSansDisplay-Regular.otf');
  }
  @font-face {
      font-family: 'Resist Sans Medium';
      src: url('../public/fonts/ResistSansDisplay-Medium.otf');
  }
  @font-face {
      font-family: 'Noto Bold';
      src: url('../public/fonts/NotoSansJP-Bold.ttf');
  }
  @font-face {
      font-family: 'Old Standard Italic';
      src: url('../public/fonts/OldStandardTT-Italic.ttf');
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-resist-bold: "Resist Sans Bold", sans-serif;
  --font-resist-medium: "Resist Sans Medium", sans-serif;
  --font-resist-regular: "Resist Sans Regular", sans-serif;
  --font-noto-bold: "Noto Bold";
  --font-old-standard-italic: "Old Standard Italic";

  --color-seasalt: #f8f9fa;
  --color-antiflash-white: #e9ecef;
  --color-platinum: #dee2e6;
  --color-french-gray: #ced4da;
  --color-french-gray-2: #adb5bd;
  --color-slate-gray: #6c757d;
  --color-outer-space: #495057;
  --color-onyx: #343a40;
  --color-eerie-black: #212529;
}

.container {
  @apply px-5 mx-auto md:px-0 xl:max-w-[1200px]
}

.old-italic {
  font-family: 'Old Standard Italic';
  font-weight: bold;
  @apply 2xl:text-4xl
}

.old-italic.smaller {
  @apply 2xl:text-2xl
}

.btn {
  @apply bg-eerie-black hover:-translate-y-0.5 transition-transform;
}